.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  input,
  textarea,
  select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    height: 40px;
  }
  
  button {
    height: 38px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color:rgb(112,68,52);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  